.home-view-component {
  margin: 0 auto;
  padding: 3rem;
  h1,
  p {
    text-align: center;
  }
  div {
    margin: 3rem auto;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: 1rem;
    border: solid 0.5rem #82c4b7;
    border-style: double;
    button {
      margin: 1rem;
    }
  }
}
