.register-form-view-component {
  width: fit-content;
  margin: 3rem auto;
  background-color: rgb(171, 213, 214);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
